@import './font.css';

:root {
    --color-blue:#0085E5;
    --color-text:#484848;
    --color-orange:#FFA000;
    --color-accent-bg:#FFF4E1;
    --color-light-orange: #FFF9F0;
    --color-light-blue:#f5fafe;
}

*, *::before, *::after {
    box-sizing: border-box;
}
 
body {
    margin: 0;
    font-size: 14px;
    background: #fff;
    line-height: 1.85;
    font-family: "Cera Pro", sans-serif;
    color: var(--color-text);
}

img {
    max-width: 100%;
}

a {
    color: var(--color-blue);
    text-decoration: none;
}

h1 {
    color:#000239;
    line-height: 1.25;
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 25px;    
    position: relative;
}

p {
    margin-top: 0;
    margin-bottom: 15px;
}

button {
    all: unset;
}
 
.button {
    background: var(--color-blue);
    border-radius: 16px;
    color: white;
    font-weight: 500;
    padding: 15px;
    line-height: 1;
    text-align: center;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background: var(--color-accent-bg);
    padding: 31px 0;
}

.header-logo {
    display: block;
    margin-right: 56px;
}

.header-logo img {
    width: 195.89px;
    height: 44px;
}

.header-nav  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
}

.header-nav a {
    display: block;
    color: var(--color-text);
    padding: 14px;
}

.header-switcher {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.header-switcher .active  {
    font-weight: 500;
}

.header-switcher span {
    display: block;
    margin: 0 14px;
    border-radius: 12px;
    width: 40px;
    height: 24px;
    background: var(--color-blue);
    position: relative;
}

.header-switcher span::before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
}

.header-login {
    display: flex;
    align-items: center;
    color: var(--color-text);
    font-size: 15px;
    margin-left: 54px;
    margin-right: 0;
    
}

.header-login img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.header-register {
   padding-left: 48px;
   padding-right: 48px;
   margin-left: 44px;
}

.home-gretings {
    background-color: var(--color-accent-bg);
    background-image: url("../img/line.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 75%;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.home-gretings {
    display: flex;
    padding-top: 70px;
    padding-bottom: 50px;
}

h1 span {
    color: var(--color-blue);
}

.home-greetings_info > p {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 36px; 
}

.home-greetings_stat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 36px;
    max-width: 440px;
}

.home-greetings_stat_item {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 16px;
    box-shadow: 0px 1.75px 9.39px 0px #DD79001D;
    box-shadow: 0px 14px 75px 0px #DD79003B;
    padding: 22px 12px 17px;
    text-align: center;
}

.home-greetings_stat_item_icon {
    width: 40px;
    height: 40px;
    border-radius: 14px;
    background: var(--color-blue);
    padding: 12px;
    margin-bottom: 11px;
}
.home-greetings_stat_item_icon img {
    display: block;
    width: 16px;
    height: 16px;
}
.home-greetings_stat_item b {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.29;
    margin-bottom: 6px;
}
.home-greetings_stat_item p {
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 0;
}
.home-greetings_stat_item p span {
    color: var(--color-blue);
    font-weight: 500;
}

.home-greetings_info {
    min-width: 540px;
    margin-right: 40px;
    flex: 0 0 540px;
}

.home-greetings_stat_item--1 .home-greetings_stat_item_icon {
    box-shadow: 0px 9px 20px 0px #0062A933;
}

.home-greetings_stat_item--2 .home-greetings_stat_item_icon{
    background: var(--color-light-orange);
}

.home-greetings_stat_item--2 p span {
    color: var(--color-orange);
}

.home-greetings_stat_item--3 .home-greetings_stat_item_icon {
    background: var(--color-light-orange);
}

.home-greetings_info ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 15px;
    padding-left: 0;
}

.home-greetings_info ul li {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
}

.home-greetings_info ul li:last-child {
    margin-bottom: 0;   
}

.home-greetings_info ul li span {
    color: var(--color-blue);
    font-weight:500;
}

.home-greetings_info ul li img {
    display: block;
    width: 16px;
    height: 16px;
    margin-right:12px;
}

.home-greetings_info .button {
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
}

.home-greetings .container {
    align-items: flex-start;
}

.home-gretings-label {
    background: var(--color-orange);
    border-radius: 10px;
    color: white;
    line-height: 1.71;
    font-weight: 500;
    font-size: 14px;
    position: absolute;   
    padding: 5px 13px;
}

.home-greetings_info h1 .home-gretings-label {
    right: -5px;
    top: 5px;
}

.home-gretings--blue {
    background: var(--color-blue);
}

.home-greetings_img {
    position: relative;
}

.home-greetings_img .home-gretings-label {
    left: -45px;
    bottom: 160px;
}

.home-greetings_img .home-gretings--blue {
    right: -90px;
    top: 40%;
    left: auto;
    bottom: auto;
}

.home-gretings-label img {
    display: block;
    width: 16px;
    height: 16px;
    margin: 5px auto 3px;   
} 

.home-gretings_img-notebook {
    margin-right: -100px;
} 